## .NET
bin/
obj/
*.user
*.suo
.vs/
*.log

## Environment
.env
appsettings.Production.json
appsettings
src/ChatApplication.API/appsettings.json
## Docker
docker-compose.override.yml

## OS
.DS_Store
Thumbs.db
